cryptography==3.2
Flask~=2.0.2
datetime~=4.3
uuid~=1.30
Flask-SQLAlchemy
PyJWT~=2.3.0
types-Flask
sqlalchemy-stubs
Flask-RESTful
Flask-Testing
Flask-Login
flask-bcrypt
flask-cors
Pillow~=9.0.1
Werkzeug~=2.0.2

SQLAlchemy~=1.4.31
requests~=2.27.1
