<div id="wrapper">
  <div id="settings">
    <div>
      <label for="s-w">Dimentions</label>
      <input id="s-w" name="s-w" [(ngModel)]="w" />
      <label for="s-h" hidden="true">Dimentions H </label>
      <input id="s-h" name="s-h" [(ngModel)]="h" />
    </div>
    <div>
      <label for="s-rotate">Rotation</label>
      <input id="s-rotate" name="s-rotate" [(ngModel)]="rotate" />
    </div>
    <div>
      <label for="s-cropX">Crop Box</label>
      <input id="s-cropX" name="s-cropX" [(ngModel)]="cropX" />

      <label for="s-cropY" hidden="true">CropY</label>
      <input id="s-cropY" name="s-cropY" [(ngModel)]="cropY" />

      <label for="s-cropW" hidden="true">CropW</label>
      <input id="s-cropW" name="s-cropW" [(ngModel)]="cropW" />

      <label for="s-cropH" hidden="true">CropH</label>
      <input id="s-cropH" name="s-cropH" [(ngModel)]="cropH" />
    </div>
    <div>
      <label for="s-zoom">Zoom</label>
      <input id="s-zoom" name="s-zoom" [(ngModel)]="zoom" />
    </div>
    <div>
      <label for="s-x">Positions</label>
      <input id="s-x" name="s-x" [(ngModel)]="x" />

      <label for="s-y" hidden="true">Y</label>
      <input id="s-y" name="s-y" [(ngModel)]="y" />
    </div>
    <div>
      <button id="download" (click)="download()" ngbTooltip="Télécharger"
      placement="bottom"></button>
      <button id="refresh" (click)="refresh()" ngbTooltip="Mettre à jour dans la galerie"
      placement="bottom"></button>
    </div>
  </div>
  <div
    id="canvas"
    (mousedown)="onMouseDownCanvas($event)"
    (window:mouseup)="onMouseUp($event)"
    (wheel)="onMouseWheel($event)"
    #canvas
  >
    <div *ngIf="!iid">
      Uploader une image ou la prendre depuis la galerie
      <a routerLink="/gallery">Galerie</a>
    </div>
    <div style="position: relative" *ngIf="src">
      <div
        [ngStyle]="{
          position: 'absolute',
          'top.px': y + cropY * zoom,
          'left.px': x + cropX * zoom,
          'width.px': cropW * zoom,
          'height.px': cropH * zoom
        }"
        #wrapperTarget
        id="wrapperTarget"
      >
        <div (mousedown)="nwCrop($event)" id="nw-crop"></div>
        <div (mousedown)="seCrop($event)" id="se-crop"></div>
        <div
          [ngStyle]="{
            position: 'absolute',
            'top.px': -cropY * zoom,
            'left.px': -cropX * zoom,
            'width.px': w * zoom,
            'height.px': h * zoom,
            transform: 'rotate(' + -rotate + 'deg)'
          }"
        >
          <div (mousedown)="onRotate($event)" id="ne-rotate"></div>
          <img
            draggable="false"
            [src]="src"
            [ngStyle]="{
              'width.px': w * zoom,
              'height.px': h * zoom
            }"
            #target
            id="target"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<app-mad-footer></app-mad-footer>
