<div class="gallery-info mx-4 mt-5 pb-4 pt-3">
  <h2>
    Galerie
    <div class="nb-elements pt-3 my-auto">{{ amountPhotos }} élement(s)</div>
  </h2>
</div>
<app-upload-image (uploadEvent)="showNewPictures()"></app-upload-image>
<div class="container-fluid gallery pb-3" *ngIf="photos">
  <div class="row justify-content-around align-items-center">
    <div
      class="col-lg-5 col-md-5 col-sm-9 my-3 mx-sm-1 px-0 container4photo"
      *ngFor="let photo of photos"
    >
      <div *ngIf="photo.display">
        <a [href]="photo.imgURL" target="_blank"
          ><img [src]="photo.imgURL" alt="image amusante"
        /></a>
        <div class="hide bg-black-transparent">
          <div class="hide bottom-left-txt">
            <a href="#" target="_blank"
              ><img class="icon" src="../../assets/img/send.png"
            /></a>
          </div>
          <div class="hide bottom-left-txt2">
            <a [routerLink]="['/edition', photo.id]"
              ><img class="icon" src="../../assets/img/pencil.png"
            /></a>
          </div>
          <div class="hide bottom-left-txt3">
            <a (click)="onDelete(photo)" target="_blank"
              ><img class="icon" src="../../assets/img/garbage.png"
            /></a>
          </div>
          <div class="hide bottom-right-txt">
            {{ photo.uploadDate | date: "d MMMM yyyy" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mad-footer></app-mad-footer>
