<div class="gallery-info mx-4 mt-5 pb-4 pt-3">
  <h2>
    Galerie
    <div class="nb-elements pt-3 my-auto">{{ amountPhotos }} élement(s)</div>
  </h2>
</div>
<app-upload-image (uploadEvent)="showNewPictures()"></app-upload-image>
<div class="container-fluid gallery pb-3" *ngIf="photos">
  <div class="row justify-content-around align-items-center">
    <div
      class="col-lg-5 col-md-5 col-sm-9 container4photo"
      *ngFor="let photo of photos"
    >
      <div>
        <a [routerLink]="['/edition', photo.id]"
          ><img [src]="photo.imgURL" alt="image amusante"
        /></a>
        <div class="hide bg-black-transparent">
          <div class="hide bottom-left-txt">
            <a target="_blank" ngbTooltip="Télécharger"
              placement="bottom" (click)="onDownload(photo)"
              ><img class="icon" src="../../assets/img/download-gallery.png"
            /></a>
          </div>
          <div class="hide bottom-left-txt2">
            <a [href]="photo.imgURL" target="_blank" ngbTooltip="Consulter"
            placement="bottom"
              ><img class="icon" src="../../assets/img/loupe.png"
            /></a>
          </div>
          <div class="hide bottom-left-txt3">
            <a (click)="onDelete(photo)" target="_blank" ngbTooltip="Supprimer"
            placement="bottom"
              ><img class="icon" src="../../assets/img/garbage.png"
            /></a>
          </div>
          <div class="hide bottom-right-txt">
            {{ photo.uploadDate | date: "d MMMM yyyy" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mad-footer></app-mad-footer>
