


<div id="tui-image-editor"></div>


<div class="image-credit">
  <ul>
    <li><a href="https://www.flaticon.com/fr/icones-gratuites/youtube" target="_blank" title="youtube icônes">Youtube icônes créées par Md Tanvirul Haque - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/fr/icones-gratuites/facebook" target="_blank" title="facebook icônes">Facebook icônes créées par Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/fr/icones-gratuites/twitter" target="_blank" title="twitter icônes">Twitter icônes créées par Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/fr/icones-gratuites/instagram" target="_blank" title="instagram icônes">Instagram icônes créées par Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/fr/icones-gratuites/linkedin" target="_blank" title="linkedin icônes">Linkedin icônes créées par Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/fr/icones-gratuites/pinterest" target="_blank" title="pinterest icônes">Pinterest icônes créées par Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/fr/icones-gratuites/discorde" target="_blank" title="discorde icônes">Discorde icônes créées par Hight Quality Icons - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/instagram-share" target="_blank" title="instagram share icons">Instagram share icons created by Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/edit" target="_blank" title="edit icons">Edit icons created by Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/trash-can" title="trash can icons">Trash can icons created by IYAHICON - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons">Arrow icons created by th studio - Flaticon</a></li>
  </ul>
</div>
<app-mad-footer></app-mad-footer>